node_modules/
dist/
npm-debug.log
yarn-error.log
coverage
.vscode
src/generated
.DS_Store
pagopa-mock.log
.env
*.h2.db
*.log
cert/*.key
cert/*.csr
.idea
cert_local
.venv
venv/
/helm/Chart.lock
/helm/charts/
/.project
.settings